<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.web.dao.mapper.UserMapper">

    <resultMap id="userResult" type="com.shop.web.dao.model.UserInfo">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="registerUser">
        insert into user_info(user_name, password) values (#{userName}, #{password})
    </insert>
</mapper>